* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #4b1b6f, #0b2a55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.contact-box p {
    font-size: 40px;
    margin: 15px 0;
}

.btn {
    margin-top: 30px;
    padding: 12px 30px;
    background: linear-gradient(90deg, #7efcff, #c77dff);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
