* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #4b1b6f, #0b2a55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    font-size: 90px;
    color: white;
    margin-bottom: 40px;
    transform: rotate(0%);
}

.btn {
    padding: 15px 40px;
    background: linear-gradient(90deg, #7efcff, #c77dff);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
