* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #4b1b6f, #0b2a55);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.profile-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.profile-text h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.profile-text p {
    font-size: 30px;
    margin: 8px 0;
}

.profile-img img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid #c77dff;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(90deg, #7efcff, #c77dff);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
